/* src/sass/_variables.scss */

/* COLORS */
$primaryColor: #BEA67C;
$whiteColor: #FFF;
$blackColor: #000;

/* FONTS */
$fontFamily: 'Source Sans Pro', sans-serif;
$fontWeightRegular: 400;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
$spacing-base: 16px;