/* src/sass/style.scss */

@use 'variables' as *; // Ładuje zmienne z variables.scss
@use 'normalize';
@use 'bootstrap';
@use 'global';
@use 'layout';
@use 'typography';

/* page imports */
@use 'pages/homepage';
@use 'pages/productsPage';
@use 'pages/contactPage';
@use 'pages/about';

/* Ustawienie maksymalnej szerokości i marginesów dla całej strony */
.container {
    max-width: 1200px;
    /* Ograniczamy szerokość strony */
    margin: 0 auto;
    /* Wyśrodkowanie */
    padding: 0 20px;
    /* Marginesy boczne */
}