/* src/sass/style.scss */

// variables
@use 'variables' as *;

// common styles

@use 'normalize';
@use 'layout';
@use 'global';
@use 'typography';

// pages
@use 'pages/homepage';
@use 'pages/productsPage';
@use 'pages/contactPage';
@use 'pages/about';
@use 'pages/footer';

.container {
  max-width: 1200px;
  /* Ograniczamy szerokość strony */
  margin: 0 auto;
  /* Wyśrodkowanie */
  padding: 0 20px;
  /* Marginesy boczne */
}