@use "../variables" as *;

.about {
  background: url("../../images/about-us.jpg") center/cover no-repeat;
  position: relative;
  padding: 40px 0;
  color: $whiteColor;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }

  .about-content {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 1;
    text-align: center;
  }

  .about-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 10px;
    word-spacing: 8px;
    color: $primaryColor;
    margin-bottom: 20px;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 160px;
      height: 3px;
      background-color: $primaryColor;
      margin: 25px auto 0;
    }
  }

  .about-carousel {
    position: relative;
    min-height: 280px;
  }

  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px); // start poza osią
    transition: opacity 0.6s ease, transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); // animowane wejście
      position: relative;
    }

    .carousel-avatar {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid $primaryColor;
      flex-shrink: 0;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    }

    .carousel-info {
      padding-left: 10px;
      color: $whiteColor;
      max-width: 500px;

      h3 {
        font-size: 22px;
        margin-bottom: 10px;

        strong {
          font-weight: 700;
          color: $primaryColor;
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: #f1f1f1;
      }
    }
  }

}

@media (max-width: 768px) {
  .about {
    padding: 50px 20px;

    .about-title {
      font-size: 32px;
      letter-spacing: 6px;
      word-spacing: 4px;

      &::after {
        width: 100px;
        margin-top: 18px;
      }
    }

    .carousel-slide {
      flex-direction: column;
      text-align: center;
      gap: 20px;

      .carousel-avatar {
        width: 120px;
        height: 120px;
      }

      .carousel-info {
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}