.contact-form {
  max-width: 900px;
  margin: 20px auto 0;
  padding: 60px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 18px;
  margin: 16px 0;
  border-radius: 4px;
  font-size: 1.8rem;
  font-family: inherit;
  color: #000;
  font-weight: 900;
}

.contact-form button {
  background-color: #BEA67C;
  color: #fff;
  padding: 18px 26px;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin: 30px auto 0;
  font-weight: 900;
}

.contact-form button:hover {
  background-color: #A88D5A;
  transform: translateY(-3px);
}

.section-title {
  text-align: center;
  position: relative;
  font-size: 3rem;
  letter-spacing: 6px;
  margin-bottom: 30px;
  font-weight: 900;

  &::after {
    content: "";
    display: block;
    width: 900px; // taka sama jak formularz
    height: 4px;
    background-color: #BEA67C;
    margin: 14px auto 0;
  }
}

.form-message {
  font-size: 1.2rem;
  margin-top: 20px;
  display: none;
  font-weight: bold;

  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}

#contact {
  text-align: center;
  padding: 70px 20px;
}