@use "../variables" as *;

footer {
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
  color: #111;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}